<div class="jumbotron text-center">
  <h1>Table data</h1>
</div>

<div class="container">
  <table
    class="table table-striped table-bordered table-hover table-sm row-border"
    datatable
    [dtOptions]="dtOptions"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of dataa as d" (click)="open(i, d)">
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.website }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-view (selectedDate)="itemShow($event)"></app-view>
<app-dialog *ngIf="generalService.showDialog"></app-dialog>

<button (click)="showDialog()">Show dialog</button>
